@charset "utf-8";
/* CSS Document */
body{
	font-family:微軟正黑體;
	background:#e6e6e6;}
body,h1,h2,h3,h4,h5,h6,p,ul,ol{
	margin:0px;
	padding:0px;
	list-style-type:none;
	line-height:1.2em;}
a{
	color:#008ccd;}
a:hover,a:active{
	color:#006898;}
.header-banner{
	height:1px;
	padding-top:40%;
	background:url(../img/img-index.jpg) no-repeat fixed center;
	background-size:cover;
	position:relative;
	}
.inner-header{
	padding-top:160px;
	background:url(../img/img-inner.jpg) no-repeat center;}
.header-banner div{
	position:absolute;
	text-align:center;
	width:100%;
	left:0px;
	top:0px;
	padding-top:40px;}
.header-banner h1{
	font-size:56px;
	color:#fff;
	padding:15px;
	text-shadow:0px 0px 8px #000;
	font-weight:bold;}
.header-banner p{
	padding:15px;
	color:#fff;
	width:40%;
	margin:auto;
	background:url(../img/bgc-01.png);
	border-radius:10px;
	}

#nav-block{
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	background:#404040;
	z-index:1000;
	}
.toggle{
	display:none;
	color:#fff;}
#nav-block a{
	color:#ccc;
	text-decoration:none;
	display:block;
	padding:10px 20px;}
#nav-block a:hover{
	color:#fff;
	background:#000;
	
	}
#nav-block li{
	float:left;
	}
.icontainer{
	padding:100px;
	text-align:center;
	position:relative;}
.icontainer h2{
	font-size:42px;
	margin:0 0 10px 0;
	text-shadow:1px 1px 0px #fff;
	position:relative;}
.icontainer p{
	margin:0 auto 10px auto;
	position:relative;
	padding:10px 15px;
	background:url(../img/bgc-02.png);
	border-radius:10px;
	width:45%;
	}	
.icontainer a{
	display:block;
	text-decoration:none;
	width:120px;
	margin:auto;
	background:#000;
	color:#fff;
	padding:10px;
	position:relative;}
.inner-container{
	font-size:18px;
	line-height:1.4em;
	background:#e6e6e6;}
.inner-block{
	padding:25px 10%;
	}	
.inner-block h2,.inner-block h3,.inner-block h4,.inner-block h5,.inner-block h6{
	margin:0 0 0.55em 0;}
.inner-block h2{
	font-size:32px;
	padding:0 0 0 10px;
	border-left:10px solid #787878;
	}
.inner-block h3{
	font-size:28px;}
.inner-block h4{
	font-size:24px;}
.inner-block h5{
	font-size:20px;}
.inner-block h6{
	font-size:18px;}
.inner-block .full-img{
	width:100%;
	height:auto;
	display:block;}
.inner-block .center-img{
	display:block;
	margin:auto;}
.inner-block ul,.inner-block ol{padding:10px 25px;}
.inner-block ul{
	list-style-type:circle;
	}
.inner-block p{
	margin:0 0 10px 0;}
.inner-block ol{
	list-style-type:decimal;}
.table-striped{
	width:100%;
	border-collapse:collapse;
	border:4px solid #b1b1b1;
	margin:0 0 10px 0;}
.table-striped th,.table-striped td{
	border:1px solid #b1b1b1;
	padding:5px;}
.table-striped th{
	background:#c8c8c8;}
.table-striped tr:nth-child(2n+1) td {
    background: #f4f4f4;
}

.info-btn{
	display:block;
	text-align:center;
	padding:15px;
	margin:0 0 15px 0;
	text-decoration:none;
	color:#fff;
	border-radius:10px;
	line-height:1em;}
.btn-group a{
	float:left;
	margin:0 15px 15px 0;
}

.ibtnc-01{background:#6e7eb2;}
.ibtnc-02{background:#000;}
.ibtnc-03{background:#5f5f5f;}

.red{
	color:#E30003;
	font-weight:bold;}

.tabinfo{
	padding:30px 9%;}
.navbar-inner{
	height:60px;}

.dropdown-toggle{
	background:#cfcfcf;}
.img-house{
	width:529px;
	height:380px;
	background:url(../img/index-img-house.png) no-repeat;
	position:absolute;
	left:0px;
	bottom:0px;}
.icc-img{
	background:url(../img/img-index-02.jpg) no-repeat fixed;
	background-size:cover;}
/*背景顏色*/
.icc-01{
	background:#e6e6e6;}
.icc-02{
	background:#C0C0C0;}

html, body, #map-canvas {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }


@media (max-width: 960px) {
		.img-house{
	left:-180px;
	}
	.icontainer p{
	width:75%;
	}}
@media (max-width: 640px) {
	.header-banner{
	height:350px;
	padding-top:0px;}
	.inner-header{
		height:230px;
	padding-top:0px;
	overflow:hidden;
	}
	.toggle{
	display:block;
	cursor:pointer;
	padding:10px 15px;}
	#navbar-nav{
		display:none;}
	#nav-block li{
	float:none;
	text-align:center;
	border-top:1px solid #000;
	}
	
	.img-house{
	left:-280px;
	bottom:-20px;
	}
	}