<header class="header-banner">
  <div>
    <h1>國民黨黨產揭露網</h1>
    <p>國民黨黨產知多少？本網站將致力於揭露相關資訊。</p>
  </div>
</header>
<nav>
  <div id="nav-block">
    <span class="toggle">選單</span>
    <ul id="navbar-nav">
      <li><a href="/index.html">首頁</a></li>
      <li><a href="/property.html">資產一覽</a></li>
      <li><a href="/estate.html">不動產</a></li>
      <li><a href="/company.html">投資</a></li>
      <li><a href="/organize.html">附隨組織</a></li>
      <li><a href="/action.html">行動</a></li>
      <li><a href="/about.html">關於</a></li>
    </ul>
  </div>
</nav>